{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "ie >= 11"]
      },
      "useBuiltIns": "entry"
    }],
    "react",
  ],
  "ignore": [
    "node_modules"
  ]
}